<footer class="bg-dark bg-gradient footer mt-auto py-3">
  <div class="container d-flex justify-content-between mx-auto text-white">
    <span>&copy; <%= Date.today.year %> Purnell Software Development</span>
    <ul class="d-inline float-end list-inline mb-0">
      <li class="list-inline-item mr-3"><%= link_to "Terms", terms_path, class: 'text-decoration-none' %></li>
      <li class="list-inline-item mr-3"><%= link_to "Privacy", privacy_path, class: 'text-decoration-none' %></li>
    </ul>
  </div>
</footer>

