<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5 bg-light">
        <h1 class="display-4 font-weight-normal">What I do</h1>
        <p class="lead font-weight-normal">
            I am a full stack web developer with a passion for creating beautiful and intuitive user experiences.
        </p>
    </div>
    <div class="product-device box-shadow d-lg-none d-md-none d-none d-sm-none d-xl-block">
    </div>
</div>
<div class="container about-details">
    <div class="row py-4">
        <p class="font-weight-normal lead text-center py-4">
            My name is Jimmy, a full stack developer from Stonington, CT. I have experience developing with C#, JavaScript, Solidity and Ruby. I have experience using the MEAN stack, ASP.NET core, Xamarin.Forms, and Ruby on Rails. I love learning new frameworks and languages and am always looking to learn more. <a href="mailto: jimmy@purnellsoftwaredevelopment.com" class="text-decoration-none">Send me an email</a> if you have any questions or would like to work together.
        </p>
    </div>
    <div class="row py-4">   
        <div class="col-lg card text-center bg-light mx-lg-1 my-2">
            <img class="card-img-top" src="speed.jpg" alt="speed">
            <div class="card-body">
                <h2 class="card-title">Speed</h2>
                <p>
                    Speed is important for any web app or site. Nobody wants to wait for a page to load, and faster web apps improve customer retention and engagement. Contact me today to learn how I can improve the speed of an existing web app or website, or to learn how I can create a new fast web app or website.
                </p>
            </div>
        </div>
        <div class="col-lg card text-center bg-light mx-lg-1 my-2">
            <img class="card-img-top" src="lock.jpg" alt="lock">
            <div class="card-body">
                <h2>Security</h2>
                <p>
                    Security is important for any web app, but becomes doubly important when you are dealing with customers personal information. I can help you secure your web app or website, or I can help you create a secure web app or website. 
                </p>
            </div>
        </div>
        <div class="col-lg card text-center bg-light mx-lg-1 my-2">
            <img class="card-img-top" src="iPhone.jpg" alt="iPhone"/>
            <div class="card-body">
                <h2 class="card-title">Mobile</h2>
                <p class="card-text">
                    Using .NET Xamarin Forms (soon .NET MAUI), I can create mobile apps for iOS and Android, either as a stand alone solution or as part of a larger application.
                </p>
            </div>
        </div>
    </div>
</div>